.slider {
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-left:40%
  }
  
  .slide {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 300px;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }